{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
       <!-- Load Bootstrap -->
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
       <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
       <!--Fontawesome-->
       <script src="https://kit.fontawesome.com/f71012b10e.js" crossorigin="anonymous"></script>
       <!--para appointments-->
        <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}" />
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <!--
    <header>
        <h1 class="logo">LOGO DE LA CLÍNICA</h1>
        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#equipo">Equipo</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    -->
    <header>
      
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
          <div class="container">
            <a class="navbar-brand2" href="{% url 'index' %}"><img src="{% static 'assets/img/logo-blanco.png' %}" alt="CECOSF Logo" class="logo" width="160px" >
              <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
              data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'services' %}">Servicios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'staff' %}">Staff</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'appointment' %}">Turnos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about_us' %}">Acerca de</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
              </ul>
              <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" href="#!">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" href="#!">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" href="#!">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar -->
      <!-- Navbar secundario -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSecondary" aria-controls="navbarSecondary" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSecondary">
          <ul class="navbar-nav">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Información Paciente
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Tus Exámenes</a>
                      <a class="dropdown-item" href="#">Historial Médico</a>
                      <a class="dropdown-item" href="#">Tus Citas Médicas</a>
                      <a class="dropdown-item" href="#">Solicitar Ayuda Social</a>
                  </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Médicos y Especialidades</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Red Cesfam</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Ayuda Social</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'nuestrocecosf' %}">Nuestro CECOSF</a>
              </li>
          </ul>
      </div>
  </nav>

       
        <!--Section: Design Block-->
      </header>

    <main>
        {% block main %} {% endblock %}
    </main>
    <footer>Django - Grupo <span>12 - </span> Todos los derechos reservados 2023</footer>
    <!-- Scripts de Bootstrap 5 -->
      <!-- JavaScript Libraries -->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/mdb.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>